.idea
.flatpak-builder/
*build*/
bcrypt/
cryptography/
cryptography-*/
flatpak-builder-tools/
flatpak-cargo-generator.py
flatpak-pip-generator
*repo*/
requirements-regular-bundle.txt
requirements-xxl-bundle.txt
thonny/
